html{
  height:100%;
  width:100%;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  height:100%;
  position:relative;
  background:url('images/assets/bg.png') repeat;
}
.woocommerce-Tabs-panel--reviews {
  display:none !important;
}
a:hover, .fa:hover {
  cursor:pointer;
  text-decoration:none;
}
.woocommerce-page, .page-id-193, .single-portfolio {
  padding-top:50px;
}
  .page-id-193 ol {
    list-style:decimal;
    padding:0 1em 0;
  }
  .page-id-193 .map-wrap .blog-wrap {
    background:white;
  }
  .page-id-193 h3 {
    font-size:1.65rem;
    margin-top:10px;
    text-transform: uppercase;
    }
  .page-id-193 .blog-wrap li {
      margin:1em 0;
    }
  .page-id-193 .blog-wrap ol ul {
      padding-left:1em;
    }
  .page-id-193 .col-sm-3 {
    padding: 1em 2.25em;
  }
  .page-id-342 .jumbotron {
    background-image: url("images/assets/Whisky Cabin.jpg");
    margin-bottom:0;
  }
  .page-id-342 .content_wrap {
    padding-top:15px;
  }
  .fa-2x {
    color:white;
  }
@media (min-width:768px) {
  .page-id-342 .jumbotron .glyphicon {
    color:black;
  }
  .page-id-193 .col-sm-9 {
    padding-right:0;
  }
  .page-id-193 .col-sm-3 {
    padding: 1em 1.5em 0 1.5em;
  }
  .page-id-193 ol {
      list-style:decimal;
      padding:0 1em 0 2em;
    }
    .page-id-193 .blog-wrap li {
        margin:1rem 0;;
      }

  .page-id-193 h3 {
    padding: 1em 0;
    text-transform: uppercase;
    font-size: 1.25em;
    }
}
@media screen and (orientation:portrait) {
  .page-id-342 .jumbotron .glyphicon {
    color:white;
  }
}
.woocommerce .quantity .qty {
  padding:0;
}
.widget_shopping_cart_content a.button {
  font-size: 100%;
margin: 0;
line-height: 1;
cursor: pointer;
position: relative;
text-decoration: none;
overflow: visible;
padding: .618em 1em;
font-weight: 700;
border-radius: 3px;
left: auto;
color: #515151;
background-color: #ebe9eb;
border: 0;
white-space: nowrap;
display: inline-block;
background-image: none;
box-shadow: none;
-webkit-box-shadow: none;
text-shadow: none;
}
@media (max-width:767px){
.sidebar-offcanvas{
  padding-left:24px;
  padding-right:6px;
}
.portfolio-piece {
    margin-right: 15px;
    margin-left: 15px;
    padding: 0;
    width:auto;
}

.portfolio-piece p {
  margin:0;
  min-height:250px;
}

.portfolio-piece h4 {
  text-align: center;
  font-size: 1.5em;
  margin: 20px 0;
}
}
.navbar-nav>li>a {
  text-transform:uppercase;
}
hr {
  margin-top:0;
}
.glyphicon, footer .glyphicon {
      display: inline;
      color: white;
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      top: auto;
      padding: 2rem;
      font-size: 3rem;
}
footer .glyphicon {
  font-size:2rem;
}
.instagram, .instagram:hover, .instagram:focus, .instagram:active {
  color:white
}
.fa-map-marker {
  margin-right: 1rem;
  color: firebrick;
}
.fa-external-link-square {
  color:#1a3f5f;
  margin-left:.5rem;
}
.page-id-65 .jumbotron .glyphicon {
  color:#e22929;
  bottom:12.5%
}
footer .glyphicon-chevron-up, .home .glyphicon-chevron-up {
  position:relative;
  text-align:center;
  padding:15px;
  display:block;
}
footer .glyphicon-chevron-up:hover, .home .glyphicon-chevron-up:hover {
  text-decoration:none;
}
  .home .btn {
    margin-left:5px;
    margin-right:5px;
    text-transform:uppercase;
  }
  .home .btn-info {
    background-color: #269abc;
    border-color:  #269abc;
  }
  .btn-info:hover {
    background-color: #1c7a95;
    border-color: #1c7a95;
  }
footer {
  background:#1b2127;
  color:white;
  width:100%;
  margin-top:50px;
}
footer p {
  margin-left:5%;
}
.navbar-toggle{
  background-color:whitesmoke;
}
.navbar-toggle .icon-bar+.icon-bar,.navbar-toggle .icon-bar {
  background-color:black;
}
.woocommerce .col-md-9>p {
  display:none;
}
.content_wrap, .woocommerce .row{
  padding-top:2em;
}
.page-header, .page-title, .jumbotron{
  color:white;
  font-weight:700;
  padding: 100px 0;
  margin: 0;
  border-bottom: none;
  background:#0A141D;
  box-shadow: inset 0 -10px 10px -10px #8c8c8c;
  -webkit-box-shadow: inset 0 -10px 10px -10px #8c8c8c;
  -moz-box-shadow: inset 0 -10px 10px -10px #8c8c8c;
}
.single-post .page-header, .single-post .jumbotron {
  background: linear-gradient(
              rgba(0, 0, 0, 0.45),
              rgba(0, 0, 0, 0.45)
              ),
              url("images/assets/laptop.jpg");
  background-position:50% 50%;
  background-size:cover;
  height:40%;
}
.single-portfolio .page-header {
  background-image: url("images/assets/grind.JPG");
  background-position:50% 50%;
  background-size:cover;
}
.page-id-65 .page-header {
  padding: 9vmax 0;
  background:url('images/assets/grind.JPG') no-repeat center center;
  background-size:cover;
}
.page-id-65 .content_wrap {
  padding:0;
}
.woocommerce .page-title {
  display:none;
}
.woocommerce-page .page-header {
  margin-top: 2em;
  box-shadow: 4px 4px 13px #ccc;
    border: none;
    padding:10px 0;
    border-radius:3px 3px 0 0;
}

.woocommerce-cart .cart-collaterals .cart_totals table, .woocommerce table.shop_table, .woocommerce-account .woocommerce-MyAccount-content, .woocommerce-account .woocommerce-MyAccount-navigation, .widget_shopping_cart_content {
  background:white;
  box-shadow:4px 4px 13px #ccc;
  border-radius:3px;
  border:none;
}
.woocommerce table.shop_table{
  border-radius:0 0 3px 3px;
}
.woocommerce-checkout .checkbox, .woocommerce-checkout .radio {
  position: relative;
    display: inline-block;
    margin:0;
}

#ship-to-different-address-checkbox {
display: inline-block;
float: left;
margin: .7rem 1rem 0 0;
}
.sidebar .widget .btn-info {
  width:100%;
  box-shadow:4px 4px 13px #ccc;
}
.widget .btn-info {
  box-shadow:4px 4px 13px #ccc;
}
.widget_shopping_cart_content {
  padding:1em;
}
.woocommerce-account .woocommerce-MyAccount-content, .woocommerce-account .woocommerce-MyAccount-navigation {
  padding:2rem 5rem;
}
.woocommerce-account .woocommerce-MyAccount-navigation{
  padding:2rem 0;
}
#add_payment_method #payment, .woocommerce-checkout #payment, .woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .select2-search, .select2-drop, #comment{
  box-shadow:1px 1px 5px #8c8c8c;
  border:none;
}
.page-header h1{
  font-weight:700;
}
.home {
  background:url('images/assets/bg.png') repeat;
  height:100%;
}
.index-jumbo-second {
  margin-bottom:0 !important;
}
.home footer {
  position:relative;
  margin-top:0;
}
a, .dropdown-menu>li>a, .dropdown-menu>.active>a {
  color:#337ab7;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  background:#337ab7;
  color:white;
}
.dropdown-menu>.active>a {
  background:transparent;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background:transparent;
}
.dropdown-menu {
background:url('images/assets/bg.png') repeat;
}
p {
  font-family: 'Ubuntu', 'Cabin', sans-serif;
}
.jumbotron {
  position:relative;
  background-image: url("images/assets/Yosemite Cliff2.jpg");
  background-size: cover;
  background-position: 0 50%;
  background-attachment: fixed;
  text-align: center;
  width: 100%;
  height: 100%;
  display: table;
    margin-bottom:30px;
}
.home .jumbotron {
  background-image: url("images/assets/Yosemite Cliff2.jpg");
  background-position: 0 33%;
  height: 100%;
}
.page-id-65 .jumbotron {
background-image: url("images/assets/grind.JPG");
background-position: 50% 50%;
}
.blog .jumbotron {
background-image: url("images/assets/laptop.jpg");
height: 40%;
background-position: 50% 50%;
}
.page-id-103 .jumbotron {
background-image: url("images/assets/bike.jpg");
background-position: 50% 83%;
}
.page-id-155 .jumbotron {
background-image: url("images/assets/working2.JPG");
background-position: 30% 100%;
}
.page-id-193 > .container {
  width:100%;
}
.page-id-193  .content_wrap, .container:first-of-type {
  min-height:calc(100% - 180px);
}
.postid-360 .out-of-stock {
  display:none;
}
.page-id-193  .page-header, .page-id-193  .jumbotron {
  display:none;
}
.page-header, .page-title {
  text-align:center;
  text-transform:uppercase;
}
footer p, .home footer p {
  display:inline;
  margin:0 ;
  font-size:14px;
}
.social-links {
  float:right;
  padding-left:0;
}
.social-links li {
  margin-left:10px;
  display:inline;
}
  .jumbotron .container{
    display:table-cell;
    vertical-align:middle;
  }
  .jumbotron h1, .jumbotron p, .jumbotron h3 {
    color:white;
  }
  .jumbotron h1 {
    text-transform:uppercase;
    text-shadow:1px 1px 10px #333333;
  }
  .jumbotron h3 {
    margin-bottom:20px;
    font-style:italic;
    font-family:'Lora';
    }
ol, ul{
  list-style:none;
}
.widget li {
  text-align:left;
  margin:10px 0;
}
.widget li a {
    color: #337ab7;
    font-weight: bold;
}
.page-id-103 img {
  margin: 0;
  width: 100%;
  height: auto;

}
.page-id-103 .map-wrap .blog-wrap {
  background:white;
  margin-bottom:4rem;
  border-radius:10px;
  overflow:hidden;
}
.map-wrap .blog-wrap {
  margin:0;
}


.page-id-103 h1 {
  text-align:center;
}
.cart_list{
padding:0;
}

.widget li a:hover,.widget li a:active {
  background:transparent;
  color:#1a3f5f;
  text-decoration:none;
}
.admin-bar .navbar-fixed-top {
  margin-top:32px;
}
.navbar {
  background:url('images/assets/bg.png') repeat;
  width:100vw;
  box-shadow:1px 1px 10px #8c8c8c;
}
@media screen and (max-width:782px) {
  .admin-bar .navbar-fixed-top {
    margin-top:46px;
  }

}

@media screen and (min-width:1024px) {
.page-id-103 .jumbotron {
      background: url("images/assets/bike2.jpg") no-repeat;
      background-size: cover;
      background-position: 0px 50%;
      background-attachment: fixed;
}
}
.nav>li>a:focus{
  background:transparent;
}
.nav>li>a:hover{
  background:transparent;
  color:#1a3f5f;
}
.current-menu-item > a, .current-menu-item > a:hover {
  color:#1a3f5f;
  background:transparent;
}
.about-text {
      font-size: 1.55rem;
      line-height: 1.65;
      margin: 30px 40px 30px 20px;
}
@media (min-width:992px) {
  .home .widget .btn-info {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 1.75rem;
    width: 122px;
  }
  .about-row {
    padding:2rem;
  }
  .about-text {
    margin: 10px 20px;
  }
  .col-md-4 .about-text {
    margin-left:0;
  }
}
@media (min-width:768px) {
  .home .widget {
    min-height:468px;
  }
	.sub-menu {
		display: none;
		position: absolute;
		background: url('images/assets/bg.png') repeat;
		padding: 10px 15px;
		width: 200px;
	}

	li:hover .sub-menu {
		display: block;
	}

  .navbar-nav {
    float:right;
  }

}

@media (min-width:1200px) {
  .home .widget {
    min-height:475px;
  }

}

.sub-menu li {
	margin-bottom: 10px;
	list-style: none;
}

.sub-menu li:last-child {
	margin-bottom: 0;
}

.sub-menu a  {
	color: #337ab7;
	text-decoration: none;
}

.sub-menu a:hover  {
	color: #1a3f5f;
}

.current-menu-item > a, .current-menu-parent > a {
	background: transparent;
  font-weight:bold;
}
.current-menu-parent li a {
	background: inherit;
}
.current-menu-parent .current-menu-item a {
	color: #337ab7;
	font-weight: bold;
}

.sidebar {
color:#444;

}
.woocommerce-page .sidebar {
  margin-top:15px;
}
.single-product .sidebar {
  margin-top: 0;
}

.woocommerce-checkout .sidebar, .woocommerce-cart .sidebar {
  margin-top: 28px;
}

.sidebar h3 {
  color:#888;
}

.textwidget {
	text-align:center;
}
.blog-wrap, .page-id-193 .map-wrap{
  box-shadow: 4px 4px 13px #bbb;
  margin-bottom:50px;
}
.page-id-193 .map-wrap{
  margin:0;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .widget_shopping_cart_content a.button {
  margin:4px 4px 0 0;
}
.woocommerce ul.products li.product .button{
margin: 1em;
width: 50%;
padding: 1em 0;
background-color: #f87d7d;
color:white;
}

.woocommerce a.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .widget_shopping_cart_content a.button {
  background-color: #f87d7d;
  color:white;
}

.woocommerce a.button:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
background-color:#ff6c6c;
color:white;
}

.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count{
  margin-left: 5%;
font-weight: bold;
text-transform: uppercase;
}
.woocommerce .page-header, .woocommerce .storeContent {
  display:none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
  margin:0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs{
border:none;
display:none;
}
.woocommerce div.product .woocommerce-tabs .panel, .woocommerce div.product div.summary, .woocommerce div.product div.images{
  padding:15px;
  box-shadow: 4px 4px 13px #bbb;
  border-left: 1px solid #ccc;
}

.woocommerce div.product div.images {
  background:white;
  padding:0;
}
.woocommerce div.product div.summary {
  background:white;
}

.woocommerce div.product div.images div.thumbnails {
    padding-top: 0;
    border-top: 2px solid #5bc0de;
}

.woocommerce #content div.product div.thumbnails a, .woocommerce div.product div.thumbnails a, .woocommerce-page #content div.product div.thumbnails a, .woocommerce-page div.product div.thumbnails a {
  margin:0;
}

ul.product_list_widget li img {
    float: right;
    margin-left: 4px;
    width: 32px !important;
    height: auto !important;
    box-shadow: none;
}
.widget .mini_cart_item a{
  display:block;
}
.widget .mini_cart_item a:hover {
  background:transparent;
  color:#5bc0de;
}
.widget .mini_cart_item a.remove{
display: block;
font-size: 1.5em;
height: 1em;
width: 1em;
text-align: center;
line-height: 1;
border-radius: 100%;
color: red!important;
text-decoration: none;
font-weight: 700;
border: 0;
}
.widget .mini_cart_item a.remove:hover{
  color:#fff!important;
  background:red
}

.woocommerce .woocommerce-message {
  border-top-color:#337ab7;
}
.woocommerce .woocommerce-message:before{
  color:#337ab7;
}

.single .blog-wrap {
  background:white;
  border-radius:7px;
  overflow:hidden;
}
/*.single p, .single h1, .single h3, .single form {
  margin:20px 20px 0;
}*/
.portfolio-piece {
background: white;
text-transform: uppercase;
box-shadow: 4px 4px 13px #ccc;
margin: 2em;
}
.portfolio-piece p {
  margin-bottom:0;
}
.portfolio-piece h4 {
    font-size: 1em;
  text-align:center;
  margin:0;
  padding:.75em 0;
  border-bottom:1px dashed gray;
  min-height: 50px;
    padding: 18px 10px 5px;
    text-align: left;
}
.portfolio-image p {
  margin:0;
}
.portfolio-piece p {
  position: relative;
  height: 232px;
  overflow: hidden;
}
.single input {
  margin-bottom:20px;
}
.single .item {
  margin:0;
}
article.post {
margin:0;
background: white;
padding: 10px 20px;
}
article.post h2 {
  margin-top:10px;
}
.portfolio-piece img {
position: absolute;
top: 0;
bottom: 0;
margin: auto;
width: 100%;
height: auto;
}

.portfolio-image img {
  border-radius: 7px 7px 0 0;
  width:100%;
}
.single-portfolio .portfolio-image img {
  border-radius: 0;
}
.single-portfolio .col-sm-4 {
  padding:0 4rem 1rem;
}
.single-portfolio  h1{
  font-size:2rem;
}
.prev-next {
margin:20px;
text-align:center;
}
.prev-next .glyphicon {
  display:inline-block;
  position:relative;
  color:#337ab7;
}

.single-portfolio .content_wrap {
  padding-top:0;
  min-height: calc(100% - 246px);
}
.single-portfolio .page-header{
  padding:7px 0;
  background: white url("images/assets/noise.png") repeat;
  color: #0A141D;
}
.single-portfolio .blog-wrap {
  padding:0;
  margin:0 15px;
}

@media screen and (max-width:540px) {

  .prev-next {
    margin-top:35px;
    font-size:18px;
    padding:0;
  }
}

.carousel-inner .item,.carousel2 .item{
height:300px;
overflow:hidden;
}
.carousel2 .item{
  position:relative;
}
.carousel-inner img, .carousel2 .item img{
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.screen-reader-text {
  display:none;
}
input{
  max-width: 100%;
      padding: 6px 15px 6px 30px;
      margin: 3px;
      border-radius: 5px;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
 .navbar-inverse .navbar-toggle {
   border-color:white;
 }
 #off-canvas-btn {
   margin-left:15px;
   float:left;
   background-color:whitesmoke;
 }
  #off-canvas-btn-cart {
  margin-left: 15px;
  float: left;
  background-color: transparent;
  padding: .25em;
  margin-top:10px;
}
 #off-canvas-btn .icon-bar {
  background-color:black;
 }
 .orderby {
   display:none;
 }
 #comment {
   max-width:100%;
 }
 .btn-primary {
    color: #fff;
    background-color: #29B129;
    border-color: #027502;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color:#027502;
  border-color: #027502;
}
 .frontimage{
   height:auto;
   margin:0 -20px;
   max-width:100%;
   min-width:100%;
 }
 .home .widget{
    position:relative;
     background: white;
     text-align: center;
     padding: 10px 0;
     border-radius: 7px;
     box-shadow:4px 4px 13px #bbb;
     margin:10px 0 40px;
 }
 .home .widget .textwidget p:nth-child(2) {
   margin: 2.5rem;
   text-align: left;
 }

.home p {
  margin-top:15px;
  font-size:2rem;
}
.home h3 {
  margin:0 0 12px;
}
 .home .widget h3:after {
   content: "";
    position: absolute;
    top: 54px;
    left: 50%;
    height: 2px;
    width: 40px;
    margin-left: -20px;
    background: #337ab7;
 }
 .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
   overflow: hidden;
       border-radius: 5px;
       float: left;
       /* margin: 0px 0 0 0; */
       padding: 0;
       position: relative;
       width: 29.3333%;
       text-align: center;
       clear: none;
       background: white;
       box-shadow: 4px 4px 13px #ccc;
       min-height:385px;
 }
 .woocommerce ul.products li.last, .woocommerce-page ul.products li.last {
   margin:0 3.8% 2.992em 0;
 }
@media screen and (max-width: 768px) {
  .woocommerce-page .sidebar {
    margin-top: 43px;
}
.single-product .sidebar {
  margin-top: 28px;
}
.woocommerce-checkout .sidebar, .woocommerce-cart .sidebar {
  margin-top: 28px;
}
  .portfolio-image img {
    border-radius: 7px 7px 0 0;
    width: 100%;
    height: auto;
}
  .navbar-brand {
    font-size:14px;
  }
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*=columns-] ul.products li.product, .woocommerce[class*=columns-] ul.products li.product{
width: 45%;
text-align: center;
margin: 0 2.5% 2em;
  }

  .page-id-103 img{
    margin: 0;
    width: 100%;
    height: auto;
  }
.home .widget h3 {
  margin:14px 0 25px;
}
.home .widget .btn {
  margin-bottom:7px;
}
  .modal.in .modal-dialog {
    width: calc(100vw - 20px);
  }
  .modal-dialog {
    margin:50px 10px 0;
  }
  .jumbotron{
    height:100%;
    background-position:top left;
  }
  .page-id-342 .jumbotron {
    background-position:center center;
  }
  .navbar-inverse .navbar-brand {
    color:white;
  }

  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height:100%;
  }
  .current-menu-item > a, .current-menu-parent > a {
    background:inherit;
  }
}
@media screen and (max-width:615px) {
  #huge_it_gallery_content_2 .element_2, #huge_it_gallery_content_3 .element_3 {
    right:0;
    margin:auto;
  }
}
@media screen and (max-width:540px) {
  .element_2 {
    right:0;
    margin:auto;
  }
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce-page[class*=columns-] ul.products li.product, .woocommerce[class*=columns-] ul.products li.product{
width: 90%;
text-align: center;
margin: 0 5% 2em;
  }
  .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    padding:0.618em .5em;
  }
}

@media (max-width:320px) {
  .navbar-brand {
    font-size:13px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-piece {
    padding: 0;
    margin: 1.5em 1.6666%;
    width: 30%;
  }
.woocommerce ul.products li.product:nth-child(2n), .woocommerce-page ul.products li.product:nth-child(2n), .woocommerce-page[class*=columns-] ul.products li.product:nth-child(2n), .woocommerce[class*=columns-] ul.products li.product:nth-child(2n){
  float:left;
}
  .sidebar .btn-primary {
    float:right;
  }
  .home h3 {
    text-align:center;
    margin:10px 0 10px;
  }
  .home p {
    margin-top:20px;
    font-size:1.55rem;
  }
   .home .widget h3:after {
     content: "";
      position: absolute;
      top: 53px;
      left: 50%;
      height: 2px;
      width: 40px;
      margin-left: -20px;
      background: #337ab7;
   }
  .jumbotron h1{
    font-size:40px;
  }
   .jumbotron h3{
    font-size:20px;
  }

}

@media (orientation:portrait) {
  .home .jumbotron {
    background-image: url("images/assets/Yosemite Cliff4.jpg");
    background-position: left bottom;
  }
  .jumbotron{
    padding:0;
  }
  .page-id-103 .jumbotron {
    background-position: 27% bottom;
}
.home .jumbotron .container {
  transform:translateY(-12%);
}

.home .jumbotron .glyphicon {
  bottom:-5%;
}

  .page-id-65 .jumbotron .glyphicon {
    color:white;
    bottom:5%;
  }

  .about-text {
    padding: 0 3.5rem;
    margin: 2.5rem 0;
  }
  .jumbotron, .page-id-65 .jumbotron, .blog .jumbotron {
    position:relative;
    height:100%;
    min-height:100%;
    background-attachment:initial;
  }

  .single-post .page-header, .single-post .jumbotron {
    height:50%;
    min-height:50%;
  }

  hr{
    margin-top:0;
  }
}

@media (orientation:portrait) and (max-width:670px){
  .jumbotron h1 {
    font-size:27px;
  }
  .home h3 {
    font-size:20px;
  }
  .home .btn {
    font-size:15px;
  }
  .glyphicon, footer .glyphicon {
    font-size:2rem;
  }
}

.frame .jumbotron {
  box-shadow: 1px 1px 10px #8c8c8c;
  -webkit-box-shadow: 1px 1px 10px #8c8c8c;
  -moz-box-shadow: 1px 1px 10px #8c8c8c;
  background-attachment:inherit;
}

.page-template-page-process .jumbotron {
  margin-bottom:0;
  background-image: url("images/assets/grind.JPG");
  background-position: 50% 50%;
}
.page-template-page-process #down .jumbotron {
  background-image: url("images/process/1.JPG");
  background-position: 50% 50%;
}
#process-2 .jumbotron {
  background-image: url("images/process/2.JPG");
  background-position: 50% 50%;
}

#process-3 .jumbotron {
  background-image: url("images/process/3.JPG");
  background-position: 50% 0;
}

#process-4 .jumbotron {
  background-image: url("images/process/4.JPG");
  background-position: 50% 50%;
}

#process-5 .jumbotron {
  background-image: url("images/process/5.JPG");
  background-position: 50% 50%;
}

#process-6 .jumbotron {
  background-image: url("images/process/6.JPG");
  background-position: 50% 50%;
}

#process-7 .jumbotron {
  background-image: url("images/process/7.JPG");
  background-position: 50% 50%;
}

#process-8 .jumbotron {
  background-image: url("images/process/8.JPG");
  background-position: 50% 50%;
}

#process-9 .jumbotron {
  background-image: url("images/process/9.JPG");
  background-position: 50% 50%;
}

.process {
  height:100%;
  width:100%;
  padding-top:0;
}
.frame {
  padding:2rem;
  height:calc(100% - 50px);
  width:100%;
  background:white;
}
.process .outer-container {
  width:100%;
  height:100%;
  padding:0;
}

.frame h1 {
  background:rgba(0,0,0,.25);
  padding:5rem 0;
  max-width:55%;
  margin:0 auto;
  font-size:30px;
  border:5px solid white;
}
@media screen and (orientation:portrait) and (max-width:767px){
  .frame .container {
    padding:2rem;
    margin:0;
  }
  .frame h1 {
    max-width:95%;
    padding:5rem 2rem;
  }
}

.frame .glyphicon-circle-arrow-up
 {
  top:5%;
  bottom:auto;
}
